/.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/rust/target/
/node/node_modules/
/java/build/
/java/lib/*.jar
/python/__pycache__/
/cpp/build/
*.pdb
*.ilk
/java/target/
